node_modules

# Output
.output
.vercel
.netlify
.wrangler
# Frontend
frontend/.svelte-kit
frontend/build
frontend/.env
frontend/.env.*

# Build Output
/build

# Backend Data & Runtime
/data
/runtimes
/bin
/jjmc
/jjmc.exe
/jjmc.db
/auth.db
ssh_host_rsa_key
