node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# JJMC
/.tools
/bin
# /instances (Removed as it is now a Go package)
/jjmc.db
jjmc
jjmc.exe
modpack.mrpack
eula.txt
auth.db
ssh_host_rsa_key
servers/
