@import "tailwindcss";

@layer base {
  body {
    @apply bg-gray-950 text-gray-300 font-sans antialiased;
  }
}

@layer utilities {
   
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

   
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
